# Project
LOCAL_RAW_DIR=data/raw

# AWS S3
AWS_REGION=ap-southeast-1
S3_BUCKET=your-s3-bucket-name
S3_PREFIX=retail_orders

# Snowflake
SNOWFLAKE_ACCOUNT=your_account
SNOWFLAKE_USER=your_user
SNOWFLAKE_PASSWORD=your_password
SNOWFLAKE_ROLE=ACCOUNTADMIN
SNOWFLAKE_WAREHOUSE=COMPUTE_WH
SNOWFLAKE_DATABASE=RETAIL_ORDERS_WH
SNOWFLAKE_SCHEMA=BRONZE

# dbt
DBT_PROFILES_DIR=./dbt

# Streamlit
STREAMLIT_SERVER_PORT=8501
