.env
.venv/
__pycache__/
*.pyc
.pytest_cache/
.streamlit/secrets.toml

data/raw/
data/processed/
logs/

airflow/logs/
airflow/plugins/
airflow/.env

dbt/retail_orders_dbt/target/
dbt/retail_orders_dbt/dbt_packages/
dbt/retail_orders_dbt/logs/
dbt/profiles.yml
dbt/.user.yml

.DS_Store
Thumbs.db
